<div class="row-fluid">
  <div class="page-header">
  <%= image_tag('logo.png') %>
  <h3>Propertry Web Site</h3>
  </div>

  <%= paginate @properties %>

  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th><%= sortable 'title', 'Title' %></th>
        <th><%= sortable 'city', 'City' %></th>
        <th><%= sortable 'property_type', 'Property Type' %></th>
        <th><%= sortable 'status', 'Purpose' %></th>
        <th><%= sortable 'area', 'Area' %></th>
        <th><%= sortable 'area_unit', 'Unit' %></th>
        <th><%= sortable 'price', 'Price' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.title %></td>
          <td><%= property.city %></td>
          <td><%= property.property_type %></td>
          <td><%= property.status %></td>
          <td><%= property.area %></td>
          <td><%= property.area_unit %></td>
          <td><%= property.price %></td>
          <td>
            <%= link_to property do %><i class="icon-eye-open"></i><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
