<h1>Listing properties</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Overview</th>
    <th>Address</th>
    <th>Type</th>
    <th>Status</th>
    <th>Area</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.title %></td>
    <td><%= property.overview %></td>
    <td><%= property.address %></td>
    <td><%= property.property_type %></td>
    <td><%= property.status %></td>
    <td><%= property.area %></td>
    <td><%= property.price %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
