<%- model_class = Property -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @property.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @property.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:property_type) %>:</strong></dt>
  <dd><%= @property.property_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @property.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:overview) %>:</strong></dt>
  <dd><%= @property.overview %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area) %>:</strong></dt>
  <dd><%= @property.area %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @property.price %></dd>
</dl>
