<%- model_class = Property -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-bordered">
  <tr>
    <td class="label-width">
      <strong>Property Title</strong>
    </td>
    <td>
      <%= @property.title %>
    </td>
  </tr>
  <tr>
    <td class="label-width">
      <strong>City</strong>
    </td>
    <td>
      <%= @property.city %>
    </td>
    <tr>
    <td class="label-width">
      <strong>Property Type</strong>
    </td>
    <td>
      <%= @property.property_type %>
    </td>
  </tr>
  <tr>
    <td class="label-width">
      <strong>Purpose</strong>
    </td>
    <td>
      <%= @property.status %>
    </td>
  </tr>
  <tr>
    <td class="label-width">
      <strong>Overview</strong>
    </td>
    <td>
      <%= @property.overview %>
    </td>
  </tr>
  <tr>
    <td class="label-width">
      <strong>Area</strong>
    </td>
    <td>
      <%= [@property.area, @property.area_unit.titleize].join(' ') %>
    </td>
  </tr>
  <tr>
    <td class="label-width">
      <strong>Price/ Demand</strong>
    </td>
    <td>
      <%= @property.price %>
    </td>
  </tr>
</table>
